header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #A668A6;
    z-index: 2;
}
nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    line-height: 60px;
    font-size: 16px;
}
body {
	background: url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60)
	no-repeat fixed center center;
	background-size: cover;
}
.container{
width: 1000px;
height:1020px;
background-color: rgba(255, 255, 255, 0.7);
margin: auto;
padding-top: 30px;
}
.title{
text-align: center;
font-size: 40px;
}
.title{
font-size: 50px;
}
.order-form{
    position: relative;
    left: 410px;
}
#title {
  width: 20%;
  margin: auto;
}
.list{
text-align: center;
}
.log-in{
position: fixed;
  top: 50%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 50px;
}
.row {
display: flex;
justify-content: center;
justify-content: space-evenly;
padding-top:25px;
}
.column{
background-color: #fff0f5;
height: 200px;
width: 300px;
}
a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid white;
margin: 5em 5em 5em 5.43em;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color: white;
text-align:center;
transition: all 0.2s;
background-color: black;
}
a.button1:hover{
color:#000000;
background-color:#FFFFFF;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px #C4C4C4 ;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th,
td {
	padding: 15px;
	background-color: #AE9EFF  ;
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

