body {
	background: url(https://images.unsplash.com/photo-1544148103-0773bf10d330?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60)
	no-repeat fixed center center;
	background-size: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #A668A6;
    z-index: 2;
}
nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    line-height: 60px;
    font-size: 16px;
}
.title{
text-align: center;
font-size: 50px;
}
.container{
width: 1000px;
height:1020px;
background-color: rgba(255, 255, 255, 0.7);
margin: auto;
padding-top: 30px;
}
a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid white;
margin: 4em 5em 5em 28em;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color: white;
text-align:center;
transition: all 0.2s;
background-color: black;
}
a.button1:hover{
color:#000000;
background-color:#FFFFFF;
}
.row {
display: flex;
justify-content: center;
justify-content: space-evenly;
padding-top:25px;
}

.column{
  width: 200px;
  height: 300px;
  background-color: #fff0f5;
}
.heading{
background-color:white;
height: 95px;
}
.column:hover{
width: 300px;
height: 400px;
}