<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/management.css}" />
</head>
<body>
<header>
    <div th:replace="~{nav :: nav}"></div>
</header>
<div class="container">
    <h1 align="center ">Are you a manager or waiter?</h1>
    <div class="row">
    <div class="column">
        <a href="management" class="button1">Management</a>
    </div>
    <div class="column">
        <a href="employee" class="button1">Employee</a>
    </div>
    </div>
</div>
</body>
</html>