<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
</head>
<body>
<header>
  <div class="main">
    <nav th:fragment="nav">
      <ul>
        <h3><a href="/">Restaurant Hut</a></h3>
        <li><a href="prices">View Prices</a></li>
        <li sec:authorize="!isFullyAuthenticated()" ><a href="login">Login</a></li>
        <li sec:authorize="!isFullyAuthenticated()" ><a href="register">Sign up</a></li>
        <li th:if="${#authorization.expression('isAuthenticated()')}"> <a href="/logout" >Log out </a></li>
      </ul>
    </nav>
  </div>
</header>
</body>
</html>