<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Review</title>
  <link rel="stylesheet" th:href="@{/prices.css}" />
</head>
<body>
<header>
  <div th:replace="~{nav :: nav}"></div>
</header>
<div class="items">
  <table class="table table-striped table-bordered">
    <h1>Order Review</h1>
    <h3>Guest</h3>
    <p th:text="${order.guest}">Guest</p>
    <h3>Kids</h3>
    <p th:text="${order.kids}">Kids</p>
    <h4>Table Number</h4>
    <p th:text="${order.tableNumber}">Table number</p>
    <h5>Drinks</h5>
    <p th:text="${order.drinks}">Drinks</p>
    <p class="total" th:text="'Total: $' +${prices.guest * order.guest + prices.child * order.kids + prices.drink * order.drinks}"></p>
  </table>
  <a th:href="@{'/update/' + ${order.id}}" class="button1">Edit</a>
  <a th:href="@{'/pay/'+ ${order.id}}" class="button1">Pay</a>
</div>
</body>
</html>