<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/signup_form.css}" />
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
</head>
<body>
<header>
    <div th:replace="~{nav :: nav}"></div>
</header>
<div class="container form-signup" >
    <div>
        <h1 >Employee Sign Up</h1>
    </div>
    <form th:action="@{/process_register}" th:object="${user}"
          method="post">
        <div>
            <div>
                <label >E-mail: </label>
                <div>
                    <input type="email" th:field="*{email}" required />
                </div>
            </div>

            <div >
                <label >Password: </label>
                <div >
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>

            <div >
                <label >First Name: </label>
                <div >
                    <input type="text" th:field="*{firstName}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div >
                <label >Last Name: </label>
                <div >
                    <input type="text" th:field="*{lastName}" class="form-control"
                           required minlength="2" maxlength="20" />
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>