<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Order</title>
    <link rel="stylesheet" th:href="@{/management.css}" />
</head>
<body>
<header>
    <div th:replace="~{nav :: nav}"></div>
</header>
<div class="container">
<h1 class="title"> View your Specific Order</h1>
    <div class="order-form">
<form th:action="@{/show-order}" method="GET" >
    <h3>Enter Table Number</h3>
    <input type="number" name="tableNumber" />
    <button type="submit" class="btn">LOOK UP</button>
</form>
    </div>
</div>
</body>
</html>