<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management System</title>

    <link rel="stylesheet" th:href="@{/welcome.css}" />
</head>
<body>
<header>
    <div th:replace="~{nav :: nav}"></div>
</header>
<div class="row first">
    <div class="column">
        <img src="https://images.unsplash.com/photo-1517638851339-a711cfcf3279?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Girl in a jacket" width="500" height="600">
    </div>
    <div class="column">
        <img src="https://images.unsplash.com/photo-1482275548304-a58859dc31b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Girl in a jacket" width="500" height="600">
    </div>
    <div class="column">
        <img src="https://images.unsplash.com/photo-1579027989536-b7b1f875659b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Girl in a jacket" width="500" height="600">
    </div>
</div>
<div class="row">
    <div class="column">
        <p class="views">Management</p>
        <a href="management" class="button1">Click Here</a>
        <p></p>
    </div>
    <div class="column">
        <p class="views">Employees</p>
        <a href="employee" class="button1">Click Here</a>
    </div>
    <div class="column">
        <p class="views">Customers</p>
        <a href="customer" class="button1">Click Here</a>
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Girl in a jacket" width="500" height="600">
    </div>
    <div class="column">
        <img src="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Girl in a jacket" width="500" height="600">
    </div>
    <div class="column">
        <img src="https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Girl in a jacket" width="500" height="600">
    </div>
</div>
</body>
</html>